.detail {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}
.detailin {
  display: Flex;
  width: 1190px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.dleft {
  width: 60%;

  display: flex;

  justify-content: center;
}
.leftimgs {
  display: flex;

  width: 650px;
}
.smallimg img {
  width: 50px; /* 이미지의 너비를 조절합니다. */
  height: 50px; /* 이미지의 높이를 조절합니다. */
  margin: 5px; /* 이미지 사이의 간격을 조절합니다. */
  object-fit: cover; /* 이미지가 자리를 차지하면서 비율을 유지하도록 합니다. */
  border-radius: 5px;
}

.dleftimg img {
  border: 5px solid skyblue;
  border-radius: 15px;
  margin: 5px;
  object-fit: cover;
  width: 600px;
  height: 600px;
}
.dright {
  width: 40%;
  margin-left: 50px;
}
.drdiv {
  display: Flex;
  margin-bottom: 13px;
  justify-content: space-between;
  align-items: center;
}
.drdiv div {
  display: flex;
  align-items: center;
}
.drdiv div h1 {
  margin: 0;
}
.drdiv div h2 {
  margin: 0;
  font-weight: 400;
}
.drspan {
  margin: 0;
  background-color: rgb(255, 131, 99);
  color: white;
  display: Flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 50px;
  height: 25px;
}
.drcoupon {
  margin: 0;
  background-color: rgb(255, 131, 99);
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  border: 0;
}
.drcome {
  border-radius: 5px;
  width: 360px;
  height: 40px;
  display: Flex;
  justify-content: space-between;
  background-color: rgb(219, 219, 219);
  align-items: center;
  margin-top: 20px;
  border-radius: 3px 3px 0px 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.drcome div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
}
.dranr {
  border: 1px solid rgb(219, 219, 219);
  font-size: 12px;
  border-radius: 5px;
  width: 180px;
  height: 33px;
  margin-top: 20px;
  display: Flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.drbt {
  display: Flex;
}
.drbt p {
  margin-right: 20px;
}
.drbt1 {
  display: flex;
}
.drbt1 p {
  margin: 0px 20px 0px 0px;
}
.drbottom {
  border-top: 1px solid rgb(219, 219, 219);
}
.drbottomtop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.drbottomtop p {
  display: Flex;
  justify-content: center;
  align-items: center;
}
.drbottomtop button {
  border-radius: 25px;
  border: none;
  width: 100px;
  height: 30px;
  display: Flex;
  color: gray;
  justify-content: center;
  align-items: center;
}

.drbottommid select {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid rgb(219, 219, 219);
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 5px;
}
.drbottombt_coupon p {
  font-size: 12px;
}
.drbottombt_coupon {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(219, 219, 219);
  margin-bottom: 20px;
}
.drbottombt_coupon div {
  color: rgb(243, 86, 86);
}
.drbottombt_button {
  display: Flex;

  align-items: center;
  justify-content: space-between;
}
.drbottombt_button1 {
  width: 49%;
  height: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  border: 2px solid skyblue;
  border-radius: 5px;
  color: skyblue;
}

.drbottombt_button2 {
  width: 49%;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  background-color: skyblue;
  border: 2px solid skyblue;
  border-radius: 5px;
  color: white;
}
.drbottombt_img {
  width: 100%;
  height: 58px;

  background-image: url("https://image.ohou.se/i/bucketplace-v2-development/uploads/admins/production_promotions/event/171203559491183841.png?gif=1&w=480&webp=1");
  background-position: center;
  background-repeat: inherit;
}
.line {
  margin: 0 8px;
  width: 45%;
  border-top: 1px dashed #07286b;
}
.drcomeopen {
  display: Flex;
  align-items: center;

  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dropen {
  background-color: rgb(219, 219, 219);
  padding: 10px;
  border-radius: 0px 0px 3px 3px;
}
.drcomspan {
  width: 170px;
}
.drp {
  text-decoration: line-through;
  color: rgb(219, 219, 219);
  margin-left: 20px;
}
.drstar {
  color: rgb(64, 170, 212);
}
.drpdiv {
  display: flex;
  align-items: center;
  height: 20px;
}
.drtitle {
  display: flex;

  line-height: 33px;
}
.drbtpp {
  font-weight: 600;
}
.spanspan {
  font-weight: 600;
  font-size: 14px;
  color: skyblue;
}
.spanspan > span {
  color: black;
}
.drbtdivdiv {
  font-weight: 400;
  font-size: 12px;
}
.drtitle h3 {
  width: 80%;

  margin-top: 10px;
  margin-bottom: 10px;
}
.drtitle span {
  margin-top: 17px;
  width: 20%;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}
.drightdd {
  font-weight: 600;
}
.drbtdiv1 {
  font-size: 12px;
  color: gray;
}
