.head {
  width: 100%;
  border-bottom: 1px solid rgb(219, 219, 219);
  height: 90px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  width: 1300px;
  align-items: center;
  justify-content: space-around;
}
.headlogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}
.headlogin {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 700px;
}
.headlogin input {
  border-radius: 5px;
  width: 300px;
  height: 40px;
}
.headLink2 {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.headLink2:active {
  color: rgb(23, 171, 230);
}
.headLink2:hover {
  color: skyblue;
}
.headLink {
  text-decoration: none;
  color: black;
}
.headLink:active {
  color: rgb(23, 171, 230);
}
.headLink:hover {
  color: skyblue;
}

.headwrite {
  background-color: rgb(83, 163, 216);
  border-radius: 5px;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.headerbt {
  border-bottom: 1px solid rgb(219, 219, 219);
  height: 50px;
  display: Flex;
  align-items: center;
  padding-left: 350px;
  padding-right: 350px;
  justify-content: space-between;
}
.btleft {
  display: flex;
  width: 900px;
  justify-content: space-around;
}
.btleft > a {
  font-weight: 600;
  color: black;
  font-size: 15px;
  text-decoration: none;
}

.btleft > a:hover {
  color: skyblue;
}
.btright {
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top {
  display: Flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 20px;
}
.slickTop {
  width: 120px;
  height: 20px;
}
.Slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toast {
  z-index: 99;
  top: 70px;
  right: 320px;
  position: absolute;
  border-radius: 5px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
.toasttop {
  display: Flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
}
.toasth2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
