.foot {
  background-color: rgb(228, 228, 228);
  width: 1103px;
  height: 250px;
  display: Flex;
  justify-content: center;
  align-items: center;
  padding: 50px 400px 80px 400px;
}
.footin {
  min-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footin2 {
  border-right: 1px solid white;
  border-left: 1px solid white;
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  min-width: 200px;
  height: 100%;
}
.footin2 > div {
  width: 150px;
  height: 20px;
}
.footbutton {
  height: 80px;
  display: Flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.footin > h3 {
  margin: 10px 0px 10px 0px;
}
.footin3 {
  min-width: 300px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.footin3 > div {
  font-size: 12px;
}
