.store {
  width: 100%;
  height: 5000px;
}
.storein {
  width: 100%;
  display: Flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.storein2 {
  width: 1300px;
  display: flex;
}
.storein3 {
  display: flex;
  width: 1300px;
  justify-content: space-between;
}
.storeflex {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
}
.storeitem {
  margin: 20px;
  width: 280px;
  height: 450px;
}
.storeimg {
  border-radius: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  width: 280px;
  height: 280px;
}
