.store {
  width: 100%;
}
.Midtop {
  width: 1190px;
  height: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Midtop > a {
  color: rgb(76, 181, 223);
  text-decoration: none;
  font-weight: 900;
}
.storein {
  width: 100%;
  display: Flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.storein1 {
  width: 1190px;
  display: Flex;
  flex-direction: column;
}
.storein2 {
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.storein3 {
  display: flex;
  width: 1190px;
  padding: 20px;
  justify-content: space-between;
}
.storeflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.storeitem {
  width: 23%;
  height: 500px;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}
.storeimgitem {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}
.storeimgitem:hover {
  border-radius: 5px;

  overflow: hidden;
}

.storeimg {
  border-radius: 5px;

  width: 100%;
  height: 100%;
}
.storeimg:hover {
  width: 395px;
  height: 395px;
}
.storetitle {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.storetitle1 {
  font-size: 12px;
}
.storetitle2 {
  font-size: 13px;
}
.storetitle3 {
  font-size: 18px;
  font-weight: 600;
}
.sticon {
  border-radius: 25px;
  object-fit: cover;
  width: 120px;
  height: 100px;
}
.sti {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stitem {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;

  height: 110px;
}
.emr {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background-color: rgb(223, 28, 28);
  width: 35px;
  height: 20px;
  border-radius: 5px;
  color: white;
}
.gkf {
  font-size: 13px;
  margin-top: 10px;
  width: 60px;
  height: 20px;
  display: Flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgb(54, 54, 54);
  background-color: rgb(212, 210, 210);
}
.slickst {
  height: 150px;
  width: 1190px;
  margin-bottom: 30px;
}
