.main {
  width: 100%;

  display: flex;
  justify-content: center;
}
.maincom {
  width: 1300px;
}
.sliderImg:hover {
  height: 100px;
  width: 100px;
}
.mainad {
  margin-top: 20px;
  height: 510px;
  width: 100%;
  display: flex;
}
.mainad1 {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 70%;
  height: 100%;
}
.mainad1:hover {
  height: 100%;
  width: 70%;
  overflow: hidden;
}

.mainad1img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: inherit;
}
.mainad1img:hover {
  width: 110%;
  height: 110%;
}

.mainad2 {
  border-radius: 5px;
  margin-left: 15px;
  width: 30%;
  height: 20%;
}

.mainctop {
  display: flex;
  width: 1280px;

  justify-content: space-between;
}
.mainct {
  display: flex;
  flex-direction: column;
}

.mainitem {
  height: 100px;
  width: 100%;
}

.mainitem1 {
  width: 100%;
  display: Flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.img1 {
  width: 70px;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 25px;
}
.Midtop {
  width: 1290px;
  height: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Midtop > a {
  color: rgb(76, 181, 223);
  text-decoration: none;
  font-weight: 900;
}
.ctitem {
  height: 300px;
  width: 100%;
  display: flex;
}
.ctitem1 {
  height: 300px;
  width: 100%;
  display: flex;
}
.cticon {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 220px;
}
.cicon {
  background-color: rgb(202, 202, 202);
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.Midentire {
  display: flex;

  width: 100%;
  height: 100%;
}
.Midcontents {
  width: 25%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.Midimgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70%;
}
.Midimgdiv:hover {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 5px;
}

.Midimg {
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  width: 100%;
  height: 100%;
}
.Midimg:hover {
  width: 120%;
  height: 110%;
}
.Midtitle {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.box {
  width: 200px;
  height: 200px;
  background-color: brown;
}
.MidFooter {
  width: 100%;
  height: 900px;
}
