.main {
  width: 100%;

  display: flex;
  justify-content: center;
}
.maincom {
  width: 1300px;
}
.mainad {
  margin-top: 20px;
  height: 510px;
  width: 100%;
  display: flex;
}
.mainad1 {
  margin: 15px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  width: 65%;
  height: 100%;
  background-image: url("https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/project/170348384671728438.jpg?w=850&h=510&c=c");
}
.mainad2 {
  border-radius: 5px;
  margin: 15px;
  width: 30%;
  height: 20%;
}

.mainctop {
  display: flex;
  width: 1280px;

  justify-content: space-between;
}
.mainct {
  display: flex;
  flex-direction: column;
}

.ctitem1 {
  background-repeat: no-repeat;
  background-position: center;
}

.mainitem {
  height: 100px;
  width: 100%;
}
.mainitem1 {
  width: 100%;
  display: Flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.img1 {
  width: 70px;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 25px;
}
.Midtop {
  width: 1290px;
  height: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Midtop > a {
  color: rgb(76, 181, 223);
  text-decoration: none;
  font-weight: 900;
}
.ctitem {
  height: 300px;
  width: 100%;
  display: flex;
}

.ctitem1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
}
.Miditem {
  height: 300px;
  width: 100%;
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Midtitle {
  height: 30%;
}
.Midimg {
  height: 70%;
  border-radius: 3px;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.box {
  width: 200px;
  height: 200px;
  background-color: brown;
}
.cticon {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}
.cicon {
  background-color: rgb(202, 202, 202);
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
